

<div class="about-container">
	<h2>about</h2>
	<p>Michel is an artist in Portland, OR. He was raised in the hot flat-lands of Florida and earned his B.S. in Anthropology and Russian and East European Studies from Florida State University. It was in his study of cultural linguistics that he became interested in the relationships of text and image which eventually lead him to the comic arts. His work is strongly influenced by ecological and political environments and strives to present these formations with a sensitive line and character centered poetic narrative.</p>
</div>