img { 
	display:block;
	max-width:100%;
	height:inherit; /*default*/
	width: auto; 
	margin: 0 auto;
	}
img.loading {
	width:100%;
	background-color:white;
	text-align:center;
	font-size:2rem;
	line-height: 300px;
	color:#e26e26;
}

.caption {
	font-size: 1rem;
	text-align:center;
}
