<h3>Artwork Form</h3>
<form id="artwork-form"
	[formGroup]="artworkForm"
	(ngSubmit)="onSubmit()" novalidate>
	<div class="form-group">
		<label for="location">Directory Location:</label>
		<input type="text" class="form-control"
			formControlName="location"
			name="location">
	</div>
	<div class="form-group">
		<label for="preview">Preview Image Filename:</label>
		<input type="text" class="form-control"
			formControlName="preview"
			name="preview">
	</div>
	<div class="form-group">
		<label for="normal">Normal Image Filename:</label>
		<input type="text" class="form-control"
			formControlName="normal"
			name="normal">
	</div>
	<div class="form-group">
		<label for="large">Large Image Filename:</label>
		<input type="text" class="form-control"
			formControlName="large"
			name="large">
	</div>
	<div class="form-group">
		<label for="caption">Caption (appears below Artwork Image):</label>
		<input type="text" class="form-control"
			formControlName="caption"
			name="caption">
	</div>
	<div class="form-group">
		<label for="description">Long Description of Artwork:</label>
		<input type="text" class="form-control"
			formControlName="description"
			name="description">
	</div>
	<div class="form-group">
		<label for="altText">Alt-text:</label>
		<input type="text" class="form-control"
			formControlName="altText"
			name="altText">
	</div>
	<button (click)="onSubmit()" type="button">Submit New Artwork</button>

</form>					