form {

}
.form-group {
	padding:.5em 0;
}
label, button, input {
	display:block;
	font-size: 1.25rem;
}
label {
	padding:.25rem 0;
}
input {
	border:1px solid #666;
	font-size:1.5rem;
}
button {
	border-radius:20% solid #e26e26;
	color: #e26e26;
	background-color: white;
}