h3 {
	text-align: center;
}
form {
	border: solid 1px #666;
	padding:1rem;
	transition: color 2s, border 2s;
}

.form-group {
	padding:.5em 0;
}
label, input {
	display:block;
}
label {
	font: 1rem;
	padding:.25rem 0;
}
input, textarea {
	border:1px solid #666;
	font-size:1rem;
	padding: .5rem;
	width: 75%;
}

textarea{
	height: 8rem;
	resize:none;
}
button {
	margin: .25rem;
	margin-left: 0;
	border: 1px solid #e26e26;
	padding: .5rem;
	background-color: white;
	font-size:1rem;
	align-self: center;
}
.inline {
	display: inline-block;
}
