h2 {
	text-align:center;
	color: #e26e26;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}

.row > * {
	margin: 2rem
}

.flex-form {
	flex-basis: 50%;
}