
<form id="project-form" 
	[formGroup]="projectForm" 
	(ngSubmit)="onSubmit()" novalidate>
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" class="form-control" 
			formControlName="name"
			name="name">
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<input type="text" class="form-control"
			formControlName="description"
			name="description">
	</div>
	<div class="form-group">
		<label for="category">Category:</label>
		<input type="text" class="form-control"
			formControlName="category"
			name="category">
	</div>
	<div class="form-group">
		<label for="addTag">Add Tag:</label>
		<input type="text" class="form-control inline" 
			formControlName="addTag"
			name="addTag">
		<button class="inline" type="button" (click)="addTag()">Add</button>
		<p>{{tags}}</p>
	</div>
	<div>
		<label>Gallery:</label>
		<artwork-card
		*ngFor="let artwork of gallery"
		[artwork]=artwork>
		</artwork-card>
	</div>
	<div class="form-group">
		<button type="button"
		(click)="addNewArtwork()"
		>Add New Artwork</button>

		<button type="button"
		(click)="addExistingArtwork()"
		>Add Existing Artwork</button>

		<p>Reserved for Gallery property and artwork form</p>
	</div>
	<button type="submit">Submit New Project</button>
</form>

<p>Form value: {{ projectForm.value | json }}</p>
<p>Form status: {{ projectForm.status | json }}</p>
<p>Gallery value: {{ gallery | json }}</p>