h2 {
	text-align:center;
}
.description-container {
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	width: 50%;

}

.comics {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.illustration {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}