:host {
	margin: 1em;
	width:300px;
	height:400px;
	border: 1px solid #666;
	padding: 1em;
}
:host:hover {
	border-color:#e26e26;
	cursor: pointer;
}
.selected {
	border-color:#e26e26;
}

h3 {
	text-align:center;
}

gallery-image {
	height: 325px;
}
.description {
	color:#e26e26;
	position:absolute;
	width: 300px;
	height: 325px;
	background:rgba(256,256,256, 0.95);
	display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    flex-direction:column;
}
.description p {
	text-align: left;
}
.view-button {
	color: #666;
	padding: 1rem 3rem;
	border: 1px solid #666;
}
.view-button:hover {
	color:#e26e26;
	border-color:#e26e26;
	cursor: pointer;
}